.table-container {
  overflow-x: auto;
}

.weather-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #212529;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.weather-table th, .weather-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.weather-table th {
  background-color: #f8f9fa;
  font-weight: bold;
  text-transform: uppercase;
  color: #495057;
}

.weather-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.weather-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.weather-table tbody tr:hover {
  background-color: #e9ecef;
}